<%= render partial: "partials/index_structure", locals: {model_name: "user", 
                                                         primary: "users", 
                                                         secondary: nil,
                                                         sidebar: nil} %>




<div class="row">
<div class="small-1 columns" style="width: 10%;" >
   &nbsp;
  </div>
  <div class="medium-6 columns">
    <div class="digg_pagination " id="digg_pagination">
    <%= will_paginate @users, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %> </div>
  </div>
  <div class="small-1 columns" style="width: 10%;" >
   &nbsp;
  </div>
</div>
                                                                               