<div id="top_row">
    <header>
        <h2>Shine Registry</h2>
    </header>

    <div id="nav">
        <a href="home.html.erb" class="selected">Home</a>
        <a href="find_registry.html.erb">Find a Registry</a> <!--Doesn't exist yet-->
        <a href="create_registry.html.erb">Create a Registry</a> <!--Doesn't exist yet-->
        <a href="about.html.erb">About</a>
        <a href="contact.html.erb">Contact</a>
    </div>

    <p>Search Bar</p>

    <div id="account_nav">
        <a href="sign_in.html.erb">Sign in</a> <!--Doesn't exist-->
        <a href="create_account.html.erb">Create an account</a><!--Doesn't exist-->
    </div>
</div>

<!-- footer is now in the partials folder -->
<%= render :partial => "/partials/footer" %>
