
<div id="content">
    <!-- image from: https://pixabay.com/p-1103595/?no_redirect -->
    <div id="about-shine">
        <img src="images/photo_tbd.png">
        <h1>About Shine Registry</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare pellentesque turpis. Quisque blandit varius magna ut aliquet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer eget nisl sed libero dictum accumsan luctus nec nulla. Fusce egestas est arcu, sit amet blandit ligula rutrum id. Vivamus nunc dui, feugiat ac cursus dictum, pulvinar at magna. Sed scelerisque consequat sollicitudin. Sed molestie tellus velit, quis ullamcorper odio finibus quis. Vivamus tortor metus, lobortis id tristique tristique, pharetra sit amet risus. Proin molestie faucibus nisi, in vehicula lacus mattis pharetra. Pellentesque venenatis aliquam metus, quis tempor lorem fermentum ut. Integer mauris tortor, tempor eget massa finibus, pellentesque dignissim metus.</p>
    </div>

    <div id="about-founder">
        <img src="images/photo_tbd.png">
        <h1>About Our Founder</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare pellentesque turpis. Quisque blandit varius magna ut aliquet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer eget nisl sed libero dictum accumsan luctus nec nulla. Fusce egestas est arcu, sit amet blandit ligula rutrum id. Vivamus nunc dui, feugiat ac cursus dictum, pulvinar at magna. Sed scelerisque consequat sollicitudin. Sed molestie tellus velit, quis ullamcorper odio finibus quis. Vivamus tortor metus, lobortis id tristique tristique, pharetra sit amet risus. Proin molestie faucibus nisi, in vehicula lacus mattis pharetra. Pellentesque venenatis aliquam metus, quis tempor lorem fermentum ut. Integer mauris tortor, tempor eget massa finibus, pellentesque dignissim metus.</p>
    </div>

    <div id="stay-updated">
        <img src="images/photo_tbd.png">
        <h1>Stay Updated</h1>
        <label for="email address">Sign up to receive news and updates as we build, learn, and grow!</label><br>
        <input type="email" placeholder="Email Address" required>
        <input type="image" name="submit" src="images/Submit.png" alt="Submit">
    </div>


</div>
