

<div id="content">
    <h1>Get in touch</h1>
    <img src="images/photo_tbd.png">
    <h3>We'd love to hear your feedback, questions, comments or whatever's on your mind!</h3>

    <form name="conact">

        <label for="name">Name</label><br>
        <input type="text" name="Name" id="name" maxlength="250" required><br>
        <br>

        <label for="email">Email Address</label><br>
        <input type="email" name="Email" id="email" required><br>
        <br>

        <label for="subject">Subject</label>
        <input type="text" name="Subject" id="subject" maxlength="250" required><br>
        <br>

        <label for="message">Message</label><br>
        <textarea name="Message" id="message" cols="75" rows="20" maxlength="5000"></textarea><br>
        <br>

        <input type="image" name="submit" src="images/Submit.png" alt="Submit"> <!-- image as submit button: http://www.jillcards.net/images/Submit.png -->

    </form>
</div>
