<div id="top_row">
    <header>
        <h2>Shine Registry</h2>
    </header>
    
    <div id="nav">
        <a href="home.html.erb">Home</a>
        <a href="find_registry.html.erb">Find a Registry</a> <!--Doesn't exist yet-->
        <a href="create_registry.html.erb">Create a Registry</a> <!--Doesn't exist yet-->
        <a href="about.html.erb" class="selected">About</a>
        <a href="contact.html.erb">Contact</a>
    </div>
    
    <p>Search Bar</p>
    
    <div id="account_nav">
        <a href="sign_in.html.erb">Sign in</a> <!--Doesn't exist-->
        <a href="create_account.html.erb">Create an account</a><!--Doesn't exist-->
    </div>
</div>

<div id="content">
    <h1>Get in touch</h1>
    <img src="images/photo_tbd.png">
    <h3>We'd love to hear your feedback, questions, comments or whatever's on your mind!</h3>

    <form name="conact"> 

        <label for="name">Name</label><br>
        <input type="text" name="Name" id="name" maxlength="250" required><br>
        <br>

        <label for="email">Email Address</label><br>
        <input type="email" name="Email" id="email" required><br>
        <br>
        
        <label for="subject">Subject</label>
        <input type="text" name="Subject" id="subject" maxlength="250" required><br>
        <br>

        <label for="message">Message</label><br>
        <textarea name="Message" id="message" cols="75" rows="20" maxlength="5000"></textarea><br>
        <br>
        
        <input type="image" name="submit" src="images/Submit.png" alt="Submit"> <!-- image as submit button: http://www.jillcards.net/images/Submit.png -->
        
    </form>
</div>

 <footer>
    <a href="https://www.facebook.com/shineregistry/" target="_blank"><img src="images/facebook.png"></a>
    <a href="https://www.instagram.com/shineregistry" target="_blank"><img src="images/instagram.png"></a>
    <a href="mailto:shineregistry@gmail.com"><img src="images/email.png"></a>
    <!--images from http://www.stumblinguponhappiness.com/free-chalkboard-social-media-icons/ -->
    <br>
    <a href="contact.html.erb" class="selected">Contact</a>
    <a href="help.html.erb">Help</a> <!-- doens't exist yet-->
    <a href="privacy.html.erb">Privacy Policy</a>
    <a href="#top_row">Top of the Page</a>
</footer>
